section#form_area.section.container
    div.section.form_body
        form(action="" method="POST" class="section")
            .row
                .col.s12
                    .row
                        .input-field.col.s12
                            input(type="url" id="autocomplete-input" name="url_field" class="autocomplete")
                            label(for="url_field") Enter the url here

