section#url_table_area.container.section
    .url_table_body.section
        table.section.stripped.highlight.center.responsive-table
            thead
                tr
                    th Orginal URL
                    th AURLS URL
                    th Visits
            tbody
                tr
                    td #[a(href="url#") https://youtube.com]
                    td #[a(href="short url#") https://tiny/bv]
                    td #[a(href="ahi") 10]
                tr
                    td #[a(href="url#") https://youtube.com]
                    td #[a(href="short url#") https://tiny/bv]
                    td #[a(href="ahi") 10]
                tr
                    td #[a(href="url#") https://youtube.com]
                    td #[a(href="short url#") https://tiny/bv]
                    td #[a(href="ahi") 10]

                tr
                    td #[a(href="url#") https://youtube.com]
                    td #[a(href="short url#") https://tiny/bv]
                    td #[a(href="ahi") 10]
                tr
                    td #[a(href="url#") https://youtube.com]
                    td #[a(href="short url#") https://tiny/bv]
                    td #[a(href="ahi") 10]
                tr
                    td #[a(href="url#") https://youtube.com]
                    td #[a(href="short url#") https://tiny/bv]
                    td #[a(href="ahi") 10]
                tr
                    td #[a(href="url#") https://youtube.com]
                    td #[a(href="short url#") https://tiny/bv]
                    td #[a(href="ahi") 10]
                tr
                    td #[a(href="url#") https://youtube.com]
                    td #[a(href="short url#") https://tiny/bv]
                    td #[a(href="ahi") 10]
                tr
                    td #[a(href="url#") https://youtube.com]
                    td #[a(href="short url#") https://tiny/bv]
                    td #[a(href="ahi") 10]
                tr
                    td #[a(href="url#") https://youtube.com]
                    td #[a(href="short url#") https://tiny/bv]
                    td #[a(href="ahi") 10]
                tr
                    td #[a(href="url#") https://youtube.com]
                    td #[a(href="short url#") https://tiny/bv]
                    td #[a(href="ahi") 10]
                tr
                    td #[a(href="url#") https://youtube.com]
                    td #[a(href="short url#") https://tiny/bv]
                    td #[a(href="ahi") 10]
                tr
                    td #[a(href="url#") https://youtube.com]
                    td #[a(href="short url#") https://tiny/bv]
                    td #[a(href="ahi") 10]
                tr
                    td #[a(href="url#") https://youtube.com]
                    td #[a(href="short url#") https://tiny/bv]
                    td #[a(href="ahi") 10]
                tr
                    td #[a(href="url#") https://youtube.com]
                    td #[a(href="short url#") https://tiny/bv]
                    td #[a(href="ahi") 10]
                tr
                    td #[a(href="url#") https://youtube.com]
                    td #[a(href="short url#") https://tiny/bv]
                    td #[a(href="ahi") 10]
                tr
                    td #[a(href="url#") https://youtube.com]
                    td #[a(href="short url#") https://tiny/bv]
                    td #[a(href="ahi") 10]
                tr
                    td #[a(href="url#") https://youtube.com]
                    td #[a(href="short url#") https://tiny/bv]
                    td #[a(href="ahi") 10]
